<%= simple_form_for @form, url: admin_appearance_path do |f| %>
  <div class="panel-body">
    <% require_image = @form.banner_image? ? false : true %>
    <%# Upload Banner Image %>
    <%= f.input :banner_image, as: :file, wrapper: :vertical_file_input, required: require_image, hint: t('hyrax.admin.appearances.show.forms.banner_image.hint'), input_html: { name: 'form[banner_image]' } %>
    <%= f.input :banner_image_text, required: true, as: :text, label: 'Banner image alt text' %>

    <!-- Image preview and cropping area -->
    <div id="image-preview" style="width: 100%; height: auto;">
      <img id="image" src="<%= @form.banner_image.url %>" alt="Banner" class="img-responsive" <%= 'style="display:none;"' unless @form.banner_image? %> />
    </div>
  </div>

  <div class="panel-footer">
    <%= f.submit class: 'btn btn-primary pull-right banner-submit' %>
  </div>
<% end %>

<script>
  var cropper;

  document.querySelector('a[href="#banner_image"]').addEventListener('click', function() {
    var image = document.getElementById('image');
    if (image.src && !cropper) {
      cropper = new Cropper(image, {
        aspectRatio: 16 / 9,
      });
    }
  });

  var inputImage = document.querySelector('[name="form[banner_image]"]');

  inputImage.addEventListener('change', function(e) {
    var files = e.target.files;
    if (files && files.length) {
      var reader = new FileReader();
      reader.onload = function(e) {
        var image = document.getElementById('image');
        image.src = e.target.result;
        if (cropper) {
          cropper.destroy();
        }
        cropper = new Cropper(image, {
          aspectRatio: 16 / 9,
        });
      };
      reader.readAsDataURL(files[0]);
    }
  });

  document.querySelector('.banner-submit').addEventListener('click', function(e) {
    e.preventDefault();
    if (cropper) {
      cropper.getCroppedCanvas().toBlob(function(blob) {
        var formData = new FormData(document.querySelector('form'));
        formData.append('form[banner_image]', blob, 'cropped.jpg');
        // Use `jQuery.ajax` method for example
        $.ajax('/admin/appearance', {
          method: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          success() {
            console.log('Upload success');
          },
          error() {
            console.log('Upload error');
          },
        });
      });
    }
  });
</script>



