<%= simple_form_for @form.site, url: main_app.site_path(@form.site) do |f| %>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3">
        <%= f.input :home_theme, collection: ["Default home"], prompt: "Select home page theme...", required: false, label: 'Home Page Theme' %>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-3">
        <%= f.input :search_theme, collection: ["Default search"], prompt: "Select search results page theme...", required: false, label: 'Search Results Page Theme' %>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-3">
        <%= f.input :show_theme, collection: ["Default show"], prompt: "Select show page theme...", required: false, label: 'Show Page Theme' %>
      </div>
    </div>
    <hr />
  </div>
  <div class="panel-footer">
    <%= f.submit class: 'btn btn-primary pull-right' %>
  </div>
<% end %>