<% # OVERRIDE: Hyrax 3.5.0 to remove the hyku_commons_mediated_deposit workflow %>
<div id="workflow" class="tab-pane">
<div class="panel panel-default labels">
  <%= simple_form_for collection_permission_template_form_for(form: @form),
    url: [hyrax, :admin, @form, :permission_template],
    html: { id: 'form_workflows', class: 'nav-safety' } do |f| %>
    <% if f.object.available_workflows.any? %>
      <div class="panel-body">
        <p><%= t('.page_description') %></p>
            <% # OVERRIDE: Hyrax 3.5.0 to reject the hyku_commons_mediated_deposit workflow %>
            <%= f.collection_radio_buttons :workflow_id, f.object.available_workflows.reject { |workflow| workflow.name == 'hyku_commons_mediated_deposit' }, :id, :label, item_wrapper_tag: :div, item_wrapper_class: "radio" do |b| %>
              <span><%= b.radio_button + b.object.label %></span>
              <p><%= b.object.description %></p>
            <% end %>
      </div>
      <div class="panel-footer">
        <%= link_to t('.cancel'), hyrax.admin_admin_sets_path, class: 'btn btn-default pull-right'%>
        <%= f.button :submit, class: 'btn btn-primary pull-right'%>
      </div>
    <% else %>
      <div class="panel-body">
        <p><%= t('.no_workflows') %></p>
      </div>
    <% end %>
  <% end %>
</div>
</div>