<% content_for :page_title, construct_page_title(t('hyku.admin.groups.title.edit'), t('hyku.admin.title')) %>
<% provide :page_header do %>
  <h1>
    <span class='fa fa-users'></span>
    <%= "#{t('hyku.admin.groups.title.edit')}: #{@group.name.titleize}" %>
  </h1>
<% end %>

<%= render 'nav' %>
<div class='panel panel-default'>
  <div class='panel-body'>
    <p class='lead'><%= t('hyku.admin.groups.action.members.description') %></p>

  <!-- BEGIN Current Group Roles -->
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h3 class='panel-title'><%= t('hyku.admin.groups.roles.title.current_group_roles') %></h3>
    </div>

    <div class='panel-body'>
      <div class='table-responsive'>
        <table class='table table-striped datatable'>
          <thead>
            <th><%= t('hyku.admin.groups.roles.label.name') %></th>
            <th><%= t('hyku.admin.groups.roles.label.action') %></th>
          </thead>

          <tbody>
            <% @group.roles&.each do |role| %>
              <tr>
                <td><%= role.name %></td>
                <%# TODO(bkiahstroud): add role description %>
                <td>
                  <%# TODO(bkiahstroud): need real endpoint to hit %>
                  <%= simple_form_for @group, url: [:admin, @group], html: { class: 'form' } do |f| %>
                    <%= f.input_field :group_roles, multiple: true, hidden: true, value: role %>
                    <%= f.submit t('hyku.admin.groups.roles.remove'), class: 'btn btn-danger' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- END Current Group Roles -->

  <!-- BEGIN Add Role to Group -->
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h3 class='panel-title'><%= t('hyku.admin.groups.roles.title.add_group_roles') %></h3>
    </div>

    <div class='panel-body'>
      <div class='table-responsive'>
        <table class='table table-striped datatable'>
          <thead>
            <th><%= t('hyku.admin.groups.roles.label.name') %></th>
            <th><%= t('hyku.admin.groups.roles.label.action') %></th>
          </thead>

          <tbody>
            <% @roles&.each do |role| %>
              <tr>
                <td><%= role.name %></td>
                <%# TODO(bkiahstroud): add role description %>
                <td>
                  <%# TODO(bkiahstroud): need real endpoint to hit %>
                  <%= simple_form_for @group, url: [:admin, @group], html: { class: 'form' } do |f| %>
                    <%= f.input_field :group_roles, multiple: true, hidden: true, value: role %>
                    <%= f.submit t('hyku.admin.groups.roles.add'), class: 'btn btn-danger' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- END Add Role to Group -->
</div>

<script>
  $(function() {
    $('table[id^="DataTables"]').DataTable({
      destroy: true, /* Reinitialize DataTable with config below */
      'columnDefs': [
          { 'orderable': false, 'targets': [1] }
      ],
      'language': {
        'info': 'Showing _START_ to _END_ of _TOTAL_ roles',
        'infoEmpty': 'No roles to show',
        'infoFiltered': '(filtered from _MAX_ total roles)',
        'lengthMenu': 'Show _MENU_ roles'
      }
    })
  })
</script>
